<launch>
    <!-- launch Gazebo world -->
    <!-- <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/> -->
    <include file="$(find robot_room)/launch/room.launch"/>

    <!-- launch face recognition module -->
    <node pkg="face" type="facepp.py" name="facepp" output="screen"/>
    <!-- launch voice recognition Kedaxunfei API module -->
    <node pkg="robot_voice" type="iat_publish_becalled" name="iat_publish_becalled" output="screen"/>
    <!-- launch voice synthesis Kedaxunfei API module -->
    <node pkg="xfei_asr" type="tts_subscribe_speak" name="tts_subscribe_speak" output="screen"/>
    <!-- launch navigation module, can modify the default map in the launch file-->
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="$(find turtlebot3_navigation)/maps/welRobot_map.yaml" />
    </include>

    <!-- launch smach state machine -->
    <!-- <node pkg="smach_state" type="smach_state.py" name="smach_state" output="screen"/> -->
    
    <!-- <node pkg="smach_state" type="face_detect_client.py" name="face_detect_client" 
        args="'welRobot_ws/src/face/face_data/face1.jpg'">
    </node>
    <node pkg="smach_state" type="face_compare_client.py" name="face_compare_client" 
        args="'welRobot_ws/src/face/face_data/face1.jpg' 'welRobot_ws/src/face/face_data/face1.jpg'">
    </node> -->
</launch>